@import 'src/styles/index';

.filter-button {
    align-items: center;
    background-color: $color-white;
    border: 1px solid $color-ghost;
    border-radius: 8px;
    color: $color-fiord;
    display: flex;
    font-family: $font-roboto-medium;
    font-size: $body3-font-size;
    height: 28px;
    line-height: 16px;
    margin-right: 12px;
    padding: 6px 14px;

    &__active,
    &:active {
        background-color: $color-fiord;
        color: $color-white;
    }

    &__items {
        align-items: center;
        display: flex;
        justify-content: center;

        &__button {
            align-items: center;
            background-color: $color-transparent;
            border: 0;
            cursor: pointer;
            display: flex;
            justify-content: center;
            margin-left: 8px;
            padding: 0;
        }

        &__icon {
            margin-right: 8px;
        }
    }
}
