@import 'src/styles/index';

$card-order: 0;

.restaurant-card {
    align-items: center;
    background-color: $color-white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: $roboto-regular;
    max-height: 477px;
    min-height: 229px;
    overflow: hidden;
    position: relative;
    transition: 0.1s;
    width: 100%;
    z-index: $card-order;

    a {
        color: $color-black;
    }

    &__image-container {
        cursor: pointer;
        width: 100%;

        &__image {
            border: 0;
            display: block;
            height: 180px;
            margin: 0;
            mask-image: linear-gradient(
                to top,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 1) 100%
            );
            object-fit: cover;
            padding: 0;
            width: 100%;

            &--large {
                height: 200px;
            }
        }
    }

    &:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    }

    &__check-in {
        align-items: center;
        background-color: $color-pickled-bluewood;
        border-radius: 8px;
        color: $color-energy-yellow;
        display: flex;
        font-family: $roboto-regular;
        font-size: $button-font-size;
        font-weight: 700;
        justify-content: space-between;
        left: 16px;
        max-height: 32px;
        max-width: 56px;
        padding: 8px 12px;
        position: absolute;
        top: 16px;
        width: 34px;
    }

    &__rating {
        align-items: center;
        background-color: $color-energy-yellow;
        border-radius: 8px;
        color: $color-pickled-bluewood;
        display: flex;
        font-family: $roboto-regular;
        font-size: $button-font-size;
        font-weight: 700;
        justify-content: center;
        max-height: 32px;
        max-width: 68px;
        padding: 8px 12px;
        position: absolute;
        right: 16px;
        top: 16px;
        width: 40px;

        span {
            padding-left: 8px;
        }
    }

    &__description {
        box-sizing: border-box;
        display: grid;
        margin-top: -28px;
        padding: 0 16px;
        top: 140px;
        width: 100%;

        &--large {
            margin-top: 0;
            padding: 0 24px;
        }

        &__title-bar {
            color: $color-midnight;
            column-gap: 8px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            overflow: hidden;
            width: 100%;

            &__title {
                flex-grow: 7;
                font-family: $font-roboto-medium;
                font-size: $medium-button-font-size;
                font-weight: 500;
                letter-spacing: 0.5px;
                line-height: 28px;
                overflow: hidden;
                padding-top: 4px;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 50%;
            }

            &__icon {
                display: flex;
                flex-grow: 1;
                justify-content: flex-end;
                padding-right: 10px;
                stroke: $color-fiord;
            }
        }

        &__categories {
            color: $color-slate-gray;
            font-family: $roboto-regular;
            font-size: $time-font-size;
            font-weight: 500;
            line-height: 150%;
            text-transform: uppercase;

            &__icon {
                padding: 0 12px;
            }
        }

        &__time {
            color: $color-slate-gray;
            font-family: $roboto-regular;
            font-size: $time-font-size;
            font-style: normal;
            font-weight: 500;
            line-height: 15px;
            padding-bottom: 7px;
            padding-top: 4px;
            text-transform: uppercase;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__icon {
            align-items: center;
            color: $color-fiord;
            display: flex;
            font-family: $roboto-bold;
            font-size: $body3-font-size;
            font-weight: 500;
            padding-top: 10px;
            text-transform: uppercase;

            a {
                color: $color-fiord;
            }

            :first-child {
                padding-right: 9px;
            }
        }

        &__description {
            color: $color-slate-gray;
            font-size: $body-font-size;
            font-weight: 400;
            height: 72px;
            line-height: 24px;
            overflow: hidden;
            padding: 15px 0 0;
            text-overflow: ellipsis;
        }

        &__buttons {
            align-self: flex-end;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 9px 0 22px;

            button {
                cursor: pointer;
                margin-left: 8px;
            }
        }
    }
}
