@import 'src/styles/index';

.dashboard {
    &__widgets {
        align-items: center;
        display: flex;
        height: 200px;
        justify-content: space-between;
        margin: 0 $spacing-desktop 72px;

        &__greeting {
            width: 480px;
        }

        &__weather {
            width: 530px;
        }

        @media (max-width: 1000px) {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        @media (max-width: 630px) {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        @media (max-width: 500px) {
            margin: 0 $spacing-mobile 72px;
        }
    }
}
