@import 'src/styles/index';

.post-comment {
    color: $color-fiord;
    font-size: $body3-font-size;
    padding: 8px 0;

    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 4px;

        &__name {
            text-transform: uppercase;
        }
    }

    &__text {
        line-height: 15px;
        overflow-wrap: break-word;

        &:nth-child(even) {
            padding-top: 4px;
        }
    }
}
