@import 'src/styles/index';

.nav-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 48px;

    &__button {
        align-items: center;
        background-color: $color-white;
        border: 1px solid $color-iron;
        cursor: pointer;
        display: flex;
        height: 24px;
        justify-content: center;
        margin: 0;
        width: 24px;

        &:hover {
            background-color: $color-gray-chateau;

            svg path {
                stroke: $color-gray-chateau;
            }
        }

        &:active {
            background-color: $color-fiord;

            svg path {
                fill: $color-white;
                stroke: $color-fiord;
            }
        }

        &:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    &__left-button {
        border-radius: 5px 0 0 5px;
        transform: translateX(1px);
    }

    &__right-button {
        border-radius: 0 5px 5px 0;
    }
}
