@import 'src/styles/index';

.breadcrumbs {
    display: flex;
    font-size: $body3-font-size;
    height: 18px;
    line-height: 18px;
    margin-bottom: 8px;
    text-transform: uppercase;

    :not(:first-child)::before {
        align-items: center;
        content: url('../../assets/icons/breadcrumbs-arrow.svg');
        display: flex;
        height: 10px;
        padding: 0 5px;
        transform: translateY(0.5px);
        width: 10px;
    }

    :not(:first-child) {
        align-items: center;
        display: flex;
    }

    &__link span {
        color: $color-gray-chateau;
        font-family: $font-roboto-medium;
    }

    :last-child span {
        color: $color-slate-gray;
    }
}
